[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "==0.12.2"
pytest-cov = "==2.8.1"
pytest-mock = "==2.0.0"
pytest-pycodestyle = "==2.0.0"
pytest-pylint = "==0.15.0"
python-language-server = {extras = ["all"],version = "==0.31.8"}
sphinx = "==2.4.1"

[packages]
tornado = "==6.0.3"

[requires]
python_version = "3.8"
